In [2]:
import pandas as pd

file = "alone.csv"
df = pd.read_csv(file)
df

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,UNIT_MEASURE,Unit of measure,MEASURE,Measure,FREQ,Frequency,...,GEO,Geographic level,ACTIVITY,Economic activity (NACE Rev.2),TIME_PERIOD,Time period,OBS_VALUE,Observation value,UNIT_MULT,Unit multiplier
0,DATAFLOW,LU1:DSD_CENSUS_GROUP21_24@DF_B1678(1.0),"Working status by household status, marital st...",I,PERS,Persons,POP,Population,A10,Decennial,...,_Z,Not applicable,_Z,Not applicable,2021,NaN,6957,NaN,0,Units
1,DATAFLOW,LU1:DSD_CENSUS_GROUP21_24@DF_B1678(1.0),"Working status by household status, marital st...",I,PERS,Persons,POP,Population,A10,Decennial,...,_Z,Not applicable,_Z,Not applicable,2021,NaN,698,NaN,0,Units
2,DATAFLOW,LU1:DSD_CENSUS_GROUP21_24@DF_B1678(1.0),"Working status by household status, marital st...",I,PERS,Persons,POP,Population,A10,Decennial,...,_Z,Not applicable,_Z,Not applicable,2021,NaN,0,NaN,0,Units
3,DATAFLOW,LU1:DSD_CENSUS_GROUP21_24@DF_B1678(1.0),"Working status by household status, marital st...",I,PERS,Persons,POP,Population,A10,Decennial,...,_Z,Not applicable,_Z,Not applicable,2021,NaN,26954,NaN,0,Units
4,DATAFLOW,LU1:DSD_CENSUS_GROUP21_24@DF_B1678(1.0),"Working status by household status, marital st...",I,PERS,Persons,POP,Population,A10,Decennial,...,_Z,Not applicable,_Z,Not applicable,2021,NaN,0,NaN,0,Units
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,DATAFLOW,LU1:DSD_CENSUS_GROUP21_24@DF_B1678(1.0),"Working status by household status, marital st...",I,PERS,Persons,POP,Population,A10,Decennial,...,_Z,Not applicable,_Z,Not applicable,2021,NaN,0,NaN,0,Units
104,DATAFLOW,LU1:DSD_CENSUS_GROUP21_24@DF_B1678(1.0),"Working status by household status, marital st...",I,PERS,Persons,POP,Population,A10,Decennial,...,_Z,Not applicable,_Z,Not applicable,2021,NaN,0,NaN,0,Units
105,DATAFLOW,LU1:DSD_CENSUS_GROUP21_24@DF_B1678(1.0),"Working status by household status, marital st...",I,PERS,Persons,POP,Population,A10,Decennial,...,_Z,Not applicable,_Z,Not applicable,2021,NaN,4221,NaN,0,Units
106,DATAFLOW,LU1:DSD_CENSUS_GROUP21_24@DF_B1678(1.0),"Working status by household status, marital st...",I,PERS,Persons,POP,Population,A10,Decennial,...,_Z,Not applicable,_Z,Not applicable,2021,NaN,378,NaN,0,Units
107,DATAFLOW,LU1:DSD_CENSUS_GROUP21_24@DF_B1678(1.0),"Working status by household status, marital st...",I,PERS,Persons,POP,Population,A10,Decennial,...,_Z,Not applicable,_Z,Not applicable,2021,NaN,139291,NaN,0,Units

In [4]:
df.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'UNIT_MEASURE',
       'Unit of measure', 'MEASURE', 'Measure', 'FREQ', 'Frequency', 'SEX',
       'Sex', 'AGE', 'Age class', 'LMS', 'Legal marital status', 'HST',
       'Household status', 'FST', 'Familly status', 'HAR',
       'Housing arrangements', 'LOC_SIZE', 'Size of the locality', 'WSTATUS',
       'Working status', 'ISCO08', 'Occupation (ISCO-08)', 'EDU',
       'Educational level', 'SIE', 'Employment status', 'LPW', 'Place of work',
       'C_BIRTH', 'Country of birth', 'CITIZEN', 'Citizenship', 'YAE',
       'Year of arrival in the country since 1980', 'YAT',
       'Year of arrival in the country since 2010', 'ROY',
       'Place of usual residence one year prior to the census', 'GEO',
       'Geographic level', 'ACTIVITY', 'Economic activity (NACE Rev.2)',
       'TIME_PERIOD', 'Time period', 'OBS_VALUE', 'Observation value',
       'UNIT_MULT', 'Unit multiplier'],
      dtype='object')

In [9]:
perc = (26954 + 5613) / (80075 + 9475)
print(f"{perc*100:.2f}%")

36.37%